/* Demo Styles */
body {
  margin: 0;
  font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background-color:#000;
}

body {
  padding:0 1em 3em 0;
}

#for360 {
  height: 100%;
  width: 100%;
}

#navBtn {
  margin-top: 6em;
}
.nav {
  position: relative;
}
#left-win,#right-win {
  margin-top: 15em;
}
#left-win {
  float: left;
  height: 100%;
  width: 20%;
  background-color: #000;
  color: #FFF;
}
#left-win .nav li {
  font-family: "Microsoft Yahei","微软雅黑",Arial, Helvetica, sans-serif;
  /*background-color: #0085C3;*/
  width: 90%;
  margin: 0 .8em .8em 0;
  line-height: 2.5em;
  font-size: 1.5em;
  padding-left: 1.2em;
  text-align: left;
  font-weight: bold;
  /*border: 2px solid #41719C;*/
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.awlogo {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
.awlogo img {
  width:10rem;
}

#left-win li.active,#left-win li:hover{
  /*background-color: #333333;*/
  /*border-color: #41719C;*/
  padding-left: 1.8em;
}

#right-win {
  width: 80%;
}

.swiper-container {
  height: 73em;
  color: #fff;
  text-align: center;
}
.swiper-nested-1, .swiper-nested-2 {
  width: 100%;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide {
  height: 100%;
  position: relative;
  font-family: "Microsoft Yahei","微软雅黑",Arial, Helvetica, sans-serif;
}

.swiper-slide img {
  width:100%;
}
.swiper-nested-1 .swiper-slide, .swiper-nested-2 .swiper-slide {
  line-height: 125px;
  font-size: 21px
}
.pagination {
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 8px;
  background: #2093C5;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
  float: left;
}
.swiper-visible-switch {
  background: #2093C5;
}
.swiper-active-switch {
  background: #fff;
  border: 1px solid #2093C5;
}
.pagination-nested-1 .swiper-pagination-switch, .pagination-nested-2 .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-left: 5px;
}

.zsrj-title {
  font-family: "Microsoft Yahei","微软雅黑",Arial, Helvetica, sans-serif;
  position: absolute;
  top: 45.8vw;
  width: 98%;
  left: 2%;
  z-index: 3;
  font-size: 1.5rem;
  color: #FFF;
  text-align: left;
}

.zsrj-title.mid {
  text-align: center;
}

#navBtn .btn {
  background-image: url(../img/btn_0.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#navBtn .btn.active,#navBtn .btn:hover {
  background-image: url(../img/btn_1.png);
}

/* Moema */
/*.button--moema {
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema.active {
  -webkit-transition: background-color 0.1s 0.2s, color 0.1s 0.2s;
  transition: background-color 0.1s 0.2s, color 0.1s 0.2s;
  -webkit-animation: anim-moema-1 0.2s forwards;
  animation: anim-moema-1 0.2s forwards;
}
.button--moema.active::before {
  background-color: #FFF;
  -webkit-animation: anim-moema-2 0.2s 0.2s forwards;
  animation: anim-moema-2 0.2s 0.2s forwards;
}*/
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.swiper-wrapper.word {
  margin-top: 2rem;
  width:90%;
  height: 20%;
}

.swiper-wrapper.word .swiper-slide {
      line-height: 1.5em;
    text-align: left;
    text-indent: 2em;
}

.computerbar {
  height: 36vw;
  width:100%;
  position: relative;
      padding-top: 3em;
      margin-bottom: 7em;
}
.computerbar:after {
  clear:both;
  content:" ";
  height: 0;
}

.swiper-container.computer-swiper {
  height: 20em;
}

.computer {
  width: 36%;
  height: 36vw;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.alienware01 {
  width: 38%;
  left: 0;
  background-position: center 76%;
  background-image: url(../img/Area-51-R2.png);
  z-index: 4;
}
.alienware02 {
  width: 45%;
  left:15%;
  background-position: center 80%;
  background-image: url(../img/Area-51-ALX.png);
  z-index:3;
}
.alienware03 {
  width: 39%;
  left: 37%;
  background-position: center 78%;
  background-image: url(../img/Area-51-X58.png);
  z-index: 2;
}
.alienware04 {
  width: 35%;
  left: 55%;
  background-position: center 72%;
  background-image: url(../img/Area-51.png);
  z-index: 1;
}

.alienware01.active,.alienware01:hover {
  width:40%;
  left:0;
  background-position: center 78%;
  background-image: url(../img/Area-51-R2_light.png);
}
.alienware02.active,.alienware02:hover {
  width: 47%;
  left: 14%;
  background-position: center 88%;
  background-image: url(../img/Area-51-ALX_light.png);
}
.alienware03.active,.alienware03:hover {
  width: 39%;
  left: 36%;
  background-position: center 79%;
  background-image: url(../img/Area-51-X58_light.png);
}
.alienware04.active,.alienware04:hover {
  width: 37%;
  left: 54%;
  background-position: center 75%;
  background-image: url(../img/Area-51_light.png);
}
.alienware01.active,.alienware02.active,.alienware03.active,.alienware04.active {
  z-index: 10;
}
.alienware01.turn {
  z-index: 1;
}
.alienware02.turn {
  z-index: 2;
}
.alienware03.turn {
  z-index: 3;
}

.alienware01.turn2 {
  z-index: 1;
}
.alienware02.turn2 {
  z-index: 2;
}
.alienware04.turn2 {
  z-index: 2;
}


.backcover {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../img/cover.png);
  position: absolute;
  z-index: 2;
}

.zsrj .swiper-container {
  width: 100%;
  /*padding-top: 2.8em;*/
  position: relative;
  z-index: 1;
}

.coverBtnBar {
  position: absolute;
  top: 37.8vw;
  width: 50%;
  left: 25%;
  z-index: 3;
}

.coverBtnBar:after {
  clear:both;
  content:" ";
  height: 0;
}

.coverBtn {
  width: 3vw;
  height: 3vw;
  float: left;
  cursor: pointer;
}

.coverBtn.active {
  background-size: 144%;
  background-repeat: no-repeat;
  background-position: 60% 46%;
  background-image: url(../img/light.png);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  -webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;
}

.ThemalControlsBtn {margin-left: 10%;}
.AlienFXBtn {margin-left: 11.5%;}
.AlienFusionBtn {margin-left: 10%;}
.AlienAdrenalineBtn {margin-left: 11.5%;}
.OCControlsBtn {margin-left: 12%;}


#breathelight {
  display: block;
      position: relative;
    left: -75px;
    top: 120px;
}

#breathelight img {
  position: absolute;
}

#left-win,#right-win {
  display:none;
}

#breathelight .bluelight {
  position: relative;
  z-index: 3;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  -webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;
}

#breathelight .back {
  position: relative;
  display: block;
  z-index: 2;
  -webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;
}
.swiper-nested-5{
  padding-top:3em;
}
.swiper-nested-5 .pagination{
  bottom:3em;
}
#breathelight .breathecontent {
  position: relative;
  display: block;
  z-index: 2;
}

@-webkit-keyframes breathe {
  0% { opacity: .2;}
  50% { opacity: 1;}
  100% {opacity: .2;}
}

@keyframes breathe {
  0% { opacity: .2;}
  50% { opacity: 1;}
  100% {opacity: .2;}
}

.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

#army-bg {position: relative;top: 6em;}
.army-logo {position: absolute;bottom: 0;width: 30%!important;left: 35%;}
#army-logo-1 {}
#army-logo-2 {opacity: 0;-webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;}

.army-kuang {position: absolute;
    bottom: 17%;
    width: 30%!important;
    left: 9%;opacity: 0;-webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;}

.army-kuang.rigth {left:auto;right:3%;}
