body {
	background-color: #000;
}
/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/
#threesixty {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}
/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty img {
	position:absolute;
	/* This one fixes the IE positioning bug */
	top:0;
	width:100%;
	height:auto;
}
/*
	Sets the style of the visible current frame of the image slider animation
*/
.current-image {
	visibility:visible;
	width:100%;
}
/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}
/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically 
*/
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#FFFFFF;
	font:0.8em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}

#threesixty_progress {
	position: absolute;
	bottom: 0%;
	opacity: 0;
	width: 94%;
	height: 5px;
	left: 3%;
	z-index: 99;
	background: #FFF;
	border-radius: 5px;
}

#threesixty_progress li {
	width: 0%;
	float: left;
	background: #00C6F8;
	height: 100%;
	border-radius: 5px;
	z-index: 100;
}

.progressbar {
	position: absolute;
	bottom: 0%;
	opacity: 0;
	width: 94%;
	left: 3%;
	z-index: 99;
	border-radius: 5px;
}

#story_cpu {
	left: 35%;
	background: url(../img/225_cpu.png) no-repeat;
	background-size: 100%;
}

#story_cpu.bounce {
	background: url(../img/225_cpu_blue.png) no-repeat;
	background-size: 100%;
}

#story_gpu {
	left: 61%;
	background: url(../img/381_gpu.png) no-repeat;
	background-size: 100%;
}

#story_gpu.bounce {
	background: url(../img/381_gpu_blue.png) no-repeat;
	background-size: 100%;
}

#story_front {
	left: 6%;
	background: url(../img/45_front.png) no-repeat;
	background-size: 100%;
}

#story_front.bounce {
	background: url(../img/45_front_blue.png) no-repeat;
	background-size: 100%;
}

#story_io {
	left: 16%;
	background: url(../img/110_io.png) no-repeat;
	background-size: 100%;
}

#story_io.bounce {
	background: url(../img/110_io_blue.png) no-repeat;
	background-size: 100%;
}

#story_cover {
	left: 0%;
	background: url(../img/2_cover.png) no-repeat;
	background-size: 100%;
}

#story_cover.bounce {
	background: url(../img/2_cover_blue.png) no-repeat;
	background-size: 100%;
}

#story_power {
	left: 81%;
	background: url(../img/505_power.png) no-repeat;
	background-size: 100%;
}

#story_power.bounce {
	background: url(../img/505_power_blue.png) no-repeat;
	background-size: 100%;
}

#story_disk {
	left: 88%;
	background: url(../img/538_disk.png) no-repeat;
	background-size: 100%;
}

#story_disk.bounce {
	background: url(../img/538_disk_blue.png) no-repeat;
	background-size: 100%;
}

#threesixty_progress span {
	position: absolute;
	height: 40px;
	width: 40px;
	top: -35px;
	z-index: 101;
	-webkit-transition: top 0.5s;
  	transition: top 0.5s;
}

#threesixty_progress span.bounce {
	-webkit-animation: bounce 1s 1 linear forwards;
	animation: bounce 1s 1 linear forwards;
}

@-webkit-keyframes bounce {
  0%   { top : -35px ;}
  15%  { top : -53px ;}
  30%  { top : -54px ;}
  40%  { top : -55px ;}
  50%  { top : -55px ;}
  70%  { top : -42px ;}
  80%  { top : -53px ;}
  90%  { top : -42px ;}
  95%  { top : -50px ;}
  97%  { top : -42px ;}
  99%  { top : -47px ;}
  100% { top : -42px ;}
}

@keyframes bounce {
  0%   { top : -35px ;}
  15%  { top : -53px ;}
  30%  { top : -54px ;}
  40%  { top : -55px ;}
  50%  { top : -55px ;}
  70%  { top : -42px ;}
  80%  { top : -53px ;}
  90%  { top : -42px ;}
  95%  { top : -50px ;}
  97%  { top : -42px ;}
  99%  { top : -47px ;}
  100% { top : -42px ;}
}

#breathelight {
	display: none;
}

#breathelight .bluelight {
	position: relative;
	z-index: 3;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
  	transition: opacity 0.5s;
	-webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;
}

#breathelight .back {
	position: relative;
	display: block;
	z-index: 2;
	-webkit-animation: breathe 5s infinite ease-in-out;animation: breathe 5s infinite ease-in-out;
}

#breathelight .breathecontent {
	position: relative;
	display: block;
	z-index: 2;
}

@-webkit-keyframes breathe {
  0% { opacity: .2;}
  50% { opacity: 1;}
  100% {opacity: .2;}
}

@keyframes breathe {
  0% { opacity: .2;}
  50% { opacity: 1;}
  100% {opacity: .2;}
}

#treesixty_detail>li .light {
	display:none;
}

#treesixty_detail>li .mark {
	display:none;
	position: absolute;
	width: 100%;
	opacity: 0;
	left:3%;
}

#treesixty_detail>li .mark.right {
	display:none;
	position: absolute;
	width: 100%;
	opacity: 0;
	left:-3%;
}

#treesixty_detail>li .title {
	display:none;
	position: absolute;
	width: 100%;
	opacity: 0;
	top:5%;
}

#treesixty_detail>li .content {
	display:none;
	position: absolute;
	width: 100%;
	opacity: 0;
	top:-5%;
}

#finger {

}

#finger_touch {
	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 999;
}

#finger_touch:hover {
}

#finger_desk {
	
}

#finger_touch_desk {
	width: 13%;
  	height: 24%;
  	position: absolute;
  	bottom: 6%;
  	left: 4%;
  	z-index: 999;
}

#solutions {
	display: none;
	position: absolute;
	top: 0;
	z-index: 10000000;
	left: 0;
	width: 100%;
}

#return {
	display: none;
}
#return img {
	width: 5%;
	position: absolute;
	right: 1%;
	top: 1%;
	z-index: 99999999;
}